<nav>
  <div class="navbar" *ngIf="isMenuVisible">
    <div class="container nav-container">
      <div class="logo">
        <h1>TeachHub</h1>
      </div>
      <div class="button-container" *ngIf="dev">
        <button class="nav-link" [routerLink]="['/devoirs', 'add']">
<i class="fa-solid fa-plus"></i><b>Devoir</b>
</button>
      </div>
      <div class="button-container" *ngIf="test">
        <button class="nav-link" [routerLink]="['/cours', 'add']">
          <i class="fa-solid fa-plus"></i>
          <b>Cours</b>
        </button>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
